<header>
  <nav>
    <a routerLink="/">Main</a>
    <a routerLink="/club/1">Club</a>
    <a routerLink="/club/new">NewClub!</a>
    <a routerLink="/search">Search</a>
    <span class="right" *ngIf="loggedIn">
      <span>Hello, {{this.username}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <button class="ui inverted blue button" (click)="logout()">Logout</button>
      <button class="ui inverted red button" [routerLink]="['/account/change_password']">Change Password</button>
    </span>
    <span class="right" *ngIf="!loggedIn">
      <button class="ui inverted blue button" [routerLink]="['/login']">Login</button>
    </span>
  </nav>
</header>
