<form [formGroup]="changePasswordForm" [class.error]="!changePasswordForm.valid" (submit)="changePassword()">

  <!-- Old Password Input -->
  <div class="col-3">
    <input class="form-control" type="password" name="old_password" placeholder="Old Password" [formControl]="changePasswordForm.controls['old_password']">
  </div>

  <!-- New Password Input -->
  <div class="col-3">
    <input class="form-control" type="password" name="new_password" placeholder="New Password" [formControl]="changePasswordForm.controls['new_password']">
  </div>

  <div calss="col-3">
    <button class="btn btn-primary" type="submit">Change Password</button>
  </div>
</form>

<div>
  Back to <a [routerLink]="['/']">Main Page</a>
</div>
