<form class="ui large" [formGroup]="signInForm" [class.error]="!signInForm.valid" (submit)="logIn()">

  <!-- Email Input -->
  <div class="required field">
    <div class="ui left icon input">
      <i class="user icon"></i>
      <input class="form-control" id="email-input" name="email" type="email" placeholder="Email" [formControl]="signInForm.controls['email']">
    </div>
  </div>

  <!-- Password Input -->
  <div class="required field">
    <div class="ui left icon input">
      <i class="lock icon"></i>
      <input class="form-control" id="pw-input" name="password" type="password" placeholder="Password" [formControl]="signInForm.controls['password']">
    </div>
  </div>

    <button class="ui submit red button" id="signin-button" type="submit" [disabled]="!signInForm.valid">Submit!</button>
</form>

<div>
  New to SNUCLUB? <a [routerLink]="['/signup']">Create an account</a>
</div>

<div>
  Back to <a [routerLink]="['/']">Main Page</a>
</div>

<div>
  Forgot password? <a [routerLink]="['/account/forgot_password']">forgot password</a>
</div>
