<header>
  <nav>
    <a routerLink="/">Main</a>
    <a routerLink="/club">Club</a>
    <span class="right" *ngIf="loggedIn">
      <span>Hello, {{this.username}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <button class="btn btn-danger" (click)="logout()">Logout</button>
      <button class="btn btn-primary" [routerLink]="['/account/change_password']">Change Password</button>
    </span>
    <span class="right" *ngIf="!loggedIn">
      <button class="btn btn-primary" [routerLink]="['/login']">Login</button>
    </span>
  </nav>
</header>
