<app-header></app-header>

<div class="row">
  <div class="col-md-8">
    <div class="input-group" id="adv-search">
      <input type="text" class="form-control" placeholder="Search for Clubs" />
      <div class="input-group-btn">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
        </div>

        <label class="switch">
          <input type="checkbox" (click)="toggle()">
          <span class="slider"></span>
        </label>

      </div>
    </div>
  </div>
</div>

<div id="detail" style="display:none">
  <form class="form-horizontal" role="form">

      <div class="form-group">
        <label for="filter">Categoty</label>
        <select class="form-control">
          <option [value]="i+1" *ngFor="let item of category; let i=index">
            {{item}}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="filter">Subcategory</label>
        <select class="form-control">
            <option value="0" selected>All</option>
            <option value="1">Currently</option>
            <option value="2">Not supported</option>
            <option value="3">Because</option>
            <option value="4">No category yet</option>
        </select>
      </div>

      <div class="form-group">
        <label for="filter">Activity Type</label>
        <select class="form-control">
            <option value="0" selected>All</option>
            <option value="1">Featured</option>
            <option value="2">Most popular</option>
            <option value="3">Top rated</option>
            <option value="4">Most commented</option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary" style="float: right;"><i class="fa fa-search"></i></button>
    </form>
</div>
