<app-header></app-header>

<br>
<span class="ui search">
  <div class="ui fluid action input">
    <input class="prompt" type="text" placeholder="search name">
    <div class="ui button">Search</div>
  </div>
</span>

<br>
<sui-checkbox [(ngModel)]="disabled" value="checked">Detailed Search</sui-checkbox>

<div class="ui segments" *ngIf="disabled">

  <div class="ui segment">
    <p>Activity Type</p>
    <sui-multi-select class="selection" [(ngModel)]="activity" [options]="options" [hasLabels]="!hideLabels"
      #multiSelect>
      <sui-select-option *ngFor="let option of activityOption" [value]="option">
      </sui-select-option>
    </sui-multi-select>
  </div>

  <div class="ui segment">
    <p>Category</p>
    <sui-multi-select class="selection" [(ngModel)]="category" [options]="options" [hasLabels]="!hideLabels"
      #multiSelect>
      <sui-select-option *ngFor="let option of categoryOption" [value]="option">
      </sui-select-option>
    </sui-multi-select>
  </div>

  <div class="ui segment">
    <p>subcategory</p>
    <sui-multi-select class="selection" [(ngModel)]="subcategory" [options]="options" [hasLabels]="!hideLabels"
      #multiSelect>
      <sui-select-option *ngFor="let option of subcategoryOption" [value]="option">
      </sui-select-option>
    </sui-multi-select>
  </div>
</div>
